<%- model_class = Location -%>

<div class="well">
  <% if params[:search_loc] %>
    <h3>Exibindo resultados para localização: <%= params[:search_loc] %></h3>
  <% end %>
  <div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>
  <hr />
  <% @place_search = @place_search.select(&:rating).sort_by(&:rating).reverse + @place_search.reject(&:rating) %>
  <% @place_search.each do |place| %>
      <div class="media">
        <div class="media-left">
          <a href="https://maps.google.com/?q=<%= place.name + ". " + place.vicinity %>" target="_blank">
            <img class="media-object img-thumbnail" width="200" src="<%= place.photos.present? ? place.photos[0].fetch_url(200) : 'http://www.baztro.com/wp-content/themes/republicpro/images/thumb.jpg' %>" />
          </a>
        </div>
        <div class="media-body">
          <a href="https://maps.google.com/?q=<%= place.name + ". " + place.vicinity %>" target="_blank">
            <h4 class="media-heading"><%= place.name %> (Rating: <%= place.rating.present? ? place.rating : "No review" %>)</h4>
          </a>
          <h5><%= "#{place.vicinity}" %></h5>
          <% if place.website.present? %>
            <h5><%= "Website: #{place.website}" %></h5>
          <% end %>
          <% if place.formatted_phone_number.present? %>
            <h5><%= "Telephone: #{place.formatted_phone_number}" %></h5>
          <% end %>
        </div>
        <div class="media-right">
          <a href="https://maps.google.com/?q=<%= place.name + ". " + place.vicinity %>" target="_blank">
            <img class="media-object img-thumbnail" width="200" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= place.vicinity %>&zoom=13&scale=false&size=200x200&maptype=roadmap&key=AIzaSyBOk8J2gdEIu1k5biw6LuxmmQKHalA_o10&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C<%= place.vicinity %>" alt="Google Map of <%= place.name + ". " + place.vicinity %>">
          </a>
        </div>
      </div>
      <hr />
  <% end %>
</div>
<script>
  $(function() {
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash_place.to_json %>, {draggable: true, clickableIcons: true});
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
  });
</script>